:root {
    --color-lightest: #fff4e6;
    --color-light: #ffe8cc;
    --color-medium: #ffa94d;
    --color-dark: #ff922b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 90%;
    font-family: "Inconsolata", monospace;
}

body {
    height: 100vh;
    color: #495057;
    display: flex;
    margin-top: 8rem;
    justify-content: center;
}

button {

    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
  }

button:hover {
    background-color:rgba(128, 128, 128, 0.197);
}


.App {
    background-color:rgba(128, 128, 128, 0.197);
    min-height: 70vh;
    width: 100%;
    align-items: center;
    padding: 100px;
    border-radius: 7px;

  }

.budget-total {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    background-color:rgba(255, 255, 255, 0.712);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.078);
    border-radius: 7px;
    padding: 10px;
}

.budget-total-show{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 3rem;
}

.budget-total-show button{
    font-size: 1.3rem;
    padding: 10px;
}

form {
    width: 100%; 
    max-width: 500px; 
    font-size: 1.3rem;
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
    margin-bottom: 1.6rem;


    background-color:rgba(255, 255, 255, 0.712);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.078);
}

.actions-list {
    display: block; 
    width: 100%; 
    margin-bottom: 1.6rem;
    padding: 1.2rem;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.078);
}

.actions-list ul{
    display: flex;
}

.number {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(0, 217, 255, 0.356);
    border-radius: 7px;
    padding: 5px;
    margin-right: 5px;
}

.plus {
    color: rgb(0, 255, 0);
    font-size: 25px;
    margin-right: 5px;
    
}

.minus {
    color: red;
    font-size: 25px;
    margin-right: 5px;
}

.type {
    font-size: 20px;

}

.amount{
    font-size: 20px;

}

.action{
    list-style: none;
    margin: 20px;
}

.expense-item{
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    background-color:rgba(255, 255, 255, 0.712);
    margin:10px;
    border-radius: 7px;
    font-size: 1.3rem;
}

.item-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    margin-bottom: 8px;
    background-color:rgba(255, 255, 255, 0.938);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



